$icon-font-path: "../styles/fonts/"; // Change the path to the fonts
@import "bootstrap-sass/lib/bootstrap";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

@font-face {
  font-family: 'Blackboard';
  src: url('font/rayando.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

/* Put your CSS here */
html, body {
    margin: 30px 0;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    background-image: url('../images/blackboard_1.jpg');
    background-size: 1920px;
    background-attachment: fixed;
}

    .container-non-responsive {
      margin-left: auto;
      margin-right: auto;
      padding-left: 15px;
      padding-right: 15px;
      width: 1170px;
    }

        h1 {
        	font-family: 'Blackboard', Fallback, sans-serif;
        	color: #FFF;
        	font-size: 48px;
        }

        .intro p {
            font-size: 16px;
            font-weight: lighter;
        }

        .navbar-brand
        {
            position: absolute;
            width: 100%;
            left: 0;
            text-align: center;
            margin: auto;
        }

        .navbar-default {
        background-color: rgba(255,255,255, 0.9); 
        }

        .navbar-left {
        margin: 8px;
        }