<div class="row">
	<div class="col-md-6 col-md-offset-3 text-center">
		<h1>Become a Tjuna Fish</h1>
		<img src="http://placehold.it/500x300">
		<p>Leer met de technieken werken die bij Tjuna worden gebruikt en ontwikkel jezelf tot een echte Tjuna Fish!</p>
	</div>
</div>

<div class="row">
		<h1 class="text-center">Cursussen</h1>
		{{#each}}
			<div class="col-md-4 text-center">
			<div class="row">
				<img {{bind-attr src="img"}}/>
			</div>
			<div class="row">
				<a {{bindAttr href="link"}} class="btn btn-default">{{title}}</a>
			</div>
		</div>
		{{/each}}
</div>
