<div class="row">
	<h1>{{title}}</h1>
</div>

<div class="row courseGoal">
	<p>Doel van deze cursus: {{goal}}</p>
	<p>De cursus is gericht op: {{targetGroup}}</p>
	<p>Dit is de voorkennis die voor deze cursus nodig is: {{prerequisites}}</p>
</div>

<div class="row">
	<div class="col-md-3">
		<h2>Les 1</h2>
	</div>
</div>