<nav class="mainNav">
  {{!-- <button class="backBtn">Terug</button> --}}
  <ul class="dropDown">
      <li>
        <a class="dropdown-toggle">Menu <i class="fa fa-chevron-down"></i><i class="fa fa-chevron-up"></i></a>
        <ul class="menuItems">
          <li>
            {{#link-to 'progress'}}Progressie{{/link-to}}
          </li>
          <li>
            {{#link-to '' }}Uitloggen{{/link-to}}
          </li>
        </ul>
      </li>
    </ul>
  <a class="logo" href="#">Become a Tjuna Fish</a>
</nav>