<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <a class="navbar-brand" href="#">Become a Tjuna Fish</a>
    <ul class="nav navbar-nav navbar-left">
        <button class="btn btn-default">Terug</button>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<b class="caret"></b></a>
          <ul class="dropdown-menu">
            {{#link-to '' tagName="li" href=false}}<a href="#">Progressie</a>{{/link-to}}
            {{#link-to '' tagName="li" href=false}}<a href="#">Uitloggen</a>{{/link-to}}
          </ul>
        </li>
      </ul>
</nav>