<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1 class="text-center">Become a Tjuna Fish</h1>
		<img src=""/>
		<p class="text-center">Leer met de technieken werken die bij Tjuna worden gebruikt en ontwikkel jezelf tot een echte Tjuna Fish!</p>
	</div>
</div>

<div class="row">
	{{#each}}
		<div class="col-md-4">
			<button type="button" class="btn btn-default">{{title}}</button>
		</div>
	{{/each}}
</div>
