<div class="progressSidebar">
	<h2>Mijn progressie</h2>
	<div class="progressAvatar">
		<img src="images/large_egg.png"/>
	</div>
	<div class="progressCourses">
		<ul>
			{{#each}}
				{{#link-to "progresscourse" this}}<li class="progressCourseLink">{{title}}<i class="fa fa-chevron-right"></i></li>{{/link-to}}
			{{/each}}
		</ul>
	</div>
</div>
<div class="progressMain">
	{{outlet}}
</div>

