<div class="progressSidebar">
	<div class="progressCourses">
		<ul>
			{{#link-to "rewards"}}<li class="progressCourseLink">Mijn prestaties<i class="fa fa-chevron-right"></i></li>{{/link-to}}
			{{#each}}
				{{#link-to "progresscourse" this}}<li class="progressCourseLink">{{title}} progressie<i class="fa fa-chevron-right"></i></li>{{/link-to}}
			{{/each}}
		</ul>
	</div>
</div>
<div class="progressMain">
	{{outlet}}
</div>

