<div class="courseProgress">
	<h1>Mijn prestaties</h1>

	<div class="rewardColumnLeft">
		<div class="rewardAvatar">
			<h2>Mijn avatar</h2>
			<img src="images/large_egg.png"/>
		</div>

		<div class="divider"></div>

		<h2>Behaalde punten</h2>
		<p class="rewardPoints">50</p>
		<p class="pointsText">punten</p>
	</div>

	<div class="rewardColumnRight">
		<h2>Behaalde badges</h2>
		<div class="rewardBadges">
			<img src="images/html_badge.png"/>
			<img src="images/css_badge.png"/>
		</div>
	</div>
	
</div>
