<nav id="menu">
    <span class="menu-link"><i class="fa fa-list-ul"></i></span>
       <ul>
       <span>Hoofdmenu</span>
       <li>{{#link-to 'index'}}Home{{/link-to}}</li>
       {{#each course}}
       <h1>sdfdf</h1>
       {{/each}}
       <li><a href="#/1">Tjuna Basis</a></li>
       <li><a href="#/2">Tjuna Frontend</a></li>
       <li><a href="#/3">Tjuna Backend</a></li>
       <li>{{#link-to 'progress'}}Progressie{{/link-to}}</li>
    </ul>
</nav>