<nav id="menu">
    <span class="menu-link"><i class="fa fa-list-ul"></i></span>
       <ul>
       <span>Hoofdmenu</span>
       <li>{{#link-to 'index'}}Home{{/link-to}}</li>
       {{#each course}}
       <h1>sdfdf</h1>
       {{/each}}
       <li>{{#link-to 'course'}}Tjuna Basis{{/link-to}}</li>
       <li>{{#link-to 'course'}}Tjuna Frontend{{/link-to}}</li>
       <li>{{#link-to 'course'}}Tjuna Backend{{/link-to}}</li>
       <li>{{#link-to 'progress'}}Progressie{{/link-to}}</li>
    </ul>
</nav>