<nav id="menu">
    <span class="menu-link"><i class="fa fa-list-ul"></i></span>
       <ul>
       <span>Hoofdmenu</span>
       <li>{{#link-to 'index'}}Home{{/link-to}}</li>
       <li><a href="#/1">Tjuna Basis cursus</a></li>
       <li><a href="#/2">Tjuna Frontend cursus</a></li>
       <li><a href="#/3">Tjuna Backend cursus</a></li>
       <li>{{#link-to 'rewards'}}Prestaties & progressie{{/link-to}}</li>
    </ul>
</nav>